{% extends 'accounts/../index.html' %}


<title>Profil</title>






{% block body %}
<div class="container">
<div class="row">
  <div class="col-md-4">


   <div class="sensormeasures_body">
   <h1>Mein Profil</h1>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Description: {{ user.userprofile.description }}</p>
    <p>Phone: {{ user.userprofile.phone }}</p>
    <p>City: {{ user.userprofile.city }}</p>

    {% for sensor in sensors %}
     <h2> Sensorinfos </h2>
     <p>Modell: {{ sensor.name }}</p>
     <p>Seriennummer: {{ sensor.seriennummer }}</p>
     <p>Installiert: {{ sensor.created }}</p>
      <p>Installiert: {{ sensor.created }}</p>
        <h2>Meine Werte</h2>

       {% for  sensormeasure in sensormeasures  %}
           {% if sensormeasure.sensor_id == sensor.id %}
            <p>Co2: {{sensormeasure.co2  }}</p>
            <p>Abgastemperatur: {{ sensormeasure.co2 }}</p>
            <p>Verbrennungslufttemperatur: {{ sensormeasure.co2 }}</p>
            <p>Feuchtigkeit: {{ sensormeasure.co2 }}</p>
           {% endif %}
       {% endfor %}
{% endfor %}

<!--Diagramme --->




    </div>

  </div>
  <div class="col-md-8">

  <canvas id="myChart"></canvas>
    <script>
        $(function () {
    var data = {
    labels: ["Co2", "Abgastemperatur", "Verbrennungsluttemperatur", "O2", "CO", "Effizienz", "Umweltbelastung"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 90, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 96, 27, 100]
        }
    ]
};
    var option = {
    responsive: true,
    };

    // Get the context of the canvas element we want to select
    var ctx = document.getElementById("myChart").getContext('2d');
   var myRadarChart = new Chart(ctx).Radar(data, option);
});
    </script>



    </div>

</div>









{% endblock %}



    </div>

